<!doctype html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <title>NM Air</title>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/go-debug.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="css/nmair.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="js/nmair.js"></script>

    <!--link rel="stylesheet"
      href="/static/css/ticketing.css"-->
    <script>
      var app = angular.module('NMA', ['ngAnimate','ngResource']);

      app.factory('Flights',function($resource){ return $resource('/flights/:id'); });
      app.factory('Airports',function($resource){ return $resource('/airports/:id'); });

      
      app.controller('TripCtrl', function($scope, Flights, Airports) {

          $scope.sc = 0;
          $scope.parent = {depicker:'',repicker:''};

          $scope.items = ['flight', 'seat', 'payment','ticket','singleticket'];
          $scope.selection = $scope.items[$scope.sc];

          $scope.flights = Flights.query();
          $scope.airports = Airports.query();

          $scope.seatLayout = 0;
          $scope.afterShow = function() {
            initSeating();
            generateLayout($scope.seatLayout);
          }

          $scope.afterHide = function() {
          }

          // Deselect all flights, clear background color to default
          $scope.deselectAirportA = function(){
            var i;
            for(i=0; i<$scope.flights.length; i++){
              $scope.flights[i].selectedsource = "orange";
            }
          }

          $scope.deselectAirportB = function(){
            var i;
            for(i=0; i<$scope.flights.length; i++){
              $scope.flights[i].selecteddest = "orange";
            }
          }

          // Highlighting
          $scope.highlightAirportA = function(f) {
            $scope.deselectAirportA();
            f.selectedsource = "#ffffff"; // white selected color
          }

          $scope.highlightAirportB = function(f) {
            $scope.deselectAirportB();
            f.selecteddest = "#ffffff"; // white selected color
          }


          // Airport A
          $scope.repick = function(f, f1) {
            $scope.highlightAirportA(f1);
            console.log(f1.ticketprice);
            $scope.returnq = f;
          }

          $scope.nextselection = function() {
            $scope.sc = ($scope.sc+1) % $scope.items.length;
            $scope.selection = $scope.items[$scope.sc];
          }

          $scope.prevselection = function() {
            $scope.sc = ($scope.sc-1) % $scope.items.length;
            if ( $scope.sc < 0 )
              $scope.sc = $scope.items.length - 1;

            $scope.selection = $scope.items[$scope.sc];
          }


          /*
          $http.get('flights.json').then( function(res) {
              $scope.flights = res.data;
              $scope.flights.every(
                function( e, i, a ) {
                  e.depart = new Date(e.depart);
                  e.arrive = new Date(e.arrive);
                  return true;
                });
            });
          $http.get('airports.json').then( function(res) {
              $scope.airports = res.data;
            });
            */

        });

    app.directive('ptPucker', function () {
      console.log('ptPucker');
      return {
        restrict: 'A', 
        require: '^ngModel',
        link: function(scope, element, attributes, ctrl) {
          console.log('ptPucker link');
          console.log(scope);
          console.log(element);
          console.log(attributes);
          console.log(ctrl);
          }
        }
      });

       app.directive('myShow', function($animate) {
           return {
             scope: {
             'myShow': '=',
             'afterShow': '&',
             'afterHide': '&'
             },
       link: function(scope, element) {
             scope.$watch('myShow', function(show, oldShow) {
               if (!show) {
               $animate.removeClass(element, 'ng-hide').then(scope.afterShow);
               }
               if (show) {
               $animate.addClass(element, 'ng-hide').then(scope.afterHide);
               }
               });
             }
           }
         });

       app.filter('isOnDay', function() {
           return function(flights, onDay) {
               return flights.filter( function(flight) {
                 var da = moment(flight.departtime);
                 var ad = moment(onDay);
                 return moment(da).isSame(ad,'day');
               })
           }
           });

 // Derived from
 // http://cdmckay.org/blog/2014/12/08/how-to-create-an-angular-directive-for-eonasdans-bootstrap-datetime-picker/ 

    app.directive('nmaDtPicker', function () {
        var format = 'MM/DD/YYYY hh:mm A';
        return {
            restrict: 'A',
            require: '^ngModel',
            link: function (scope, element, attributes, ctrl) {

                element.datetimepicker({
                    format: format
                });

                var picker = element.data("DateTimePicker");
 
                ctrl.$formatters.push(function (value) {
                    if ( typeof(value) != 'undefined' && value != '' )
                    {
                      var date = moment(value);
                      if (date.isValid()) {
                        return date.format(format);
                      }
                    }
                    return '';
                });
 
                element.on('dp.change', function (event) {
                    scope.$apply(function() {
                        var date = picker.date();
                        ctrl.$setViewValue(date.valueOf());
                    });
                });
            }
        }
      });
      
    function delayinit(v) {
      show = false;

      if ( v == 1 )
        show = true;

    };
    </script>

  </head>

  <body ng-app="NMA">
    <div class="container" ng-controller="TripCtrl">
      <div class="jumbotron container">
        <h1>NM Air</h1>
        <h2>Plan Your Trip Now</h2>
        <div id="switcher">
          <select ng-model="selection" style='visibility:hidden;'
                  onchange="delayinit(this.value)" ng-options="item for item in items">
          </select>
        </div>
        <span style="color:white;" ng-click="prevselection()">prev</span>
        <span style="color:white;" ng-click="nextselection()">next</span>
      </div> <!-- Jumbotron container -->
      <div class="sheet-control-container">
        <div class="row">  
        <div class="col-10">  
        <div class="animate-switch-container"
             ng-switch on="selection">
          <div class="animate-switch" ng-switch-when="flight">
            <div class="row">
              <div ng-include="'flight_select.html'"></div>
            </div> <!-- row -->
          </div> <!-- flight selection -->
            <div class="animate-switch" ng-switch-when="seat"
                 my-show="show" after-show="afterShow()" after-hide="afterHide()">
              <div class="seating" id="seatingDiagram"></div>
            </div> <!-- seating selection -->

            <div class="animate-switch" ng-switch-when="ticket" style="color:white;">
              <div ng-controller="ticketController as tktController">
                <div ng-include="'tickets.html'"> </div>
              </div>
              
              <script>
                  app.controller("ticketController", function () {
                  });
              </script>
            </div> <!-- ticket -->

            <div class="animate-switch" ng-switch-when="singleticket" style="color:white;">
              <div ng-controller="ticketController2">
                <div ng-include="'single_ticket.html'"> </div>
              </div>
              <script>
                  app.controller("ticketController2", function () {
                  });
              </script>
            </div> <!-- singleTicket -->


            <div class="animate-switch" ng-switch-when="payment" style="color:white;">
              <div ng-controller="paymentController as paymentCtrl">
                <div ng-include="'payment.html'"> </div>
              </div>

              <script>
	                app.controller("paymentController", function () {
		                var paymentInfo = {
			                cardType: "",
			                nameOnCard: "",
			                cardNumber: "",
			                expireDate: "",
			                cvv: ""
		                };
		                var billAddrInfo = {
			                address1: "",
			                address2: "",
			                city: "",
			                state: "",
			                zip: "",
			                country: ""
		                };
		                var custAddrInfo = {
			                address1: "",
			                address2: "",
			                city: "",
			                state: "",
			                zip: "",
			                country: ""
		                };
		                
		                this.sameInfo = false;
		                this.sameAddress = function () {
			                this.billAddrInfo.address1 = this.custAddrInfo.address1;
			                this.billAddrInfo.address2 = this.custAddrInfo.address2;
			                this.billAddrInfo.city = this.custAddrInfo.city;
			                this.billAddrInfo.state = this.custAddrInfo.state;
			                this.billAddrInfo.zip = this.custAddrInfo.zip;
			                this.billAddrInfo.country = this.custAddrInfo.country;
		                };
	                });
              </script>
            </div> <!-- payment -->
          </div> <!-- switch animation div -->
         <script>
            // new dependency: ngResource is included just above
            //        var nma = new angular.module("nma", ["ngResource"]);
  
            // inject the $resource dependency here
            //  nma.controller("TripCtrl", ["$scope", "$resource",
            //   function($scope, $resource){
            // I designed the backend to play nicely with angularjs so this is all the
            // setup we need to do all of the ususal operations.
            //  var Ticket = $resource("/trip/:id", {id: '@id'}, {}); }
            //  }

        </script>
      </div> <!-- col-10 -->
      <div class="col-2">

      </div> <!-- col-2 -->
      </div> <!-- row -->
      </div> <!-- sheet -->
    </div> <!-- container -->
  </body>
</html>