<form class="form-horizontal" role="form">
	<div class="col-sm-12 col-md-12">
		<div class="col-sm-12 col-md-12">
			<div class="form-group col-sm-6"> <!--Customer Information-->
				<div class="row">
					<label class="row text-center col-sm-12" >Customer Information</label>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Name&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="Enter name here" ng-model="paymentCtrl.custAddrInfo.name" required/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Address&nbsp;1&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.address1" required/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Address&nbsp;2</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.address2"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >City&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.city"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >State&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.state"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Zip&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.zip"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Country&nbsp;*</label>
					<div class="col-sm-8">
					    <select class="form-control" ng-model="paymentCtrl.custAddrInfo.country" required>
							  <option>United States</option>
							  <option>Pandora</option>
					   </select>
					</div>
				</div>
			</div>
		
			<div class="form-group col-sm-6"> <!--Payment Information-->
				<div class="row">
					<label class="row text-center col-sm-12" >Payment&nbsp;Information</label>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Card&nbsp;Type&nbsp;*</label>
					<div class="col-sm-8">
					    <select class="form-control" ng-model="paymentCtrl.paymentInfo.cardType" required>
								  <option>Visa</option>
								  <option>MasterCard</option>
								  <option>Discover</option>
								  <option>American Express</option>
					   </select>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Name&nbsp;on&nbsp;Card&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.paymentInfo.nameOnCard" required/> 
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Card&nbsp;Number&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.cardNumber"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Expiration&nbsp;Date&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.expireDate"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >CVV&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.custAddrInfo.cvv"/>
					</div>
				</div>
			</div>
		
		</div>
		
		<div class="col-sm-12 col-md-12">
				
			<div class="form-group col-sm-6"> <!-- Billing Address -->
				<div class="row">
					<label class="row text-center col-sm-12" >Billing Address</label>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Address&nbsp;1&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.billAddrInfo.address1" required/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Address&nbsp;2</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.billAddrInfo.address2"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >City&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.billAddrInfo.city"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >State&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.billAddrInfo.state"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Zip&nbsp;*</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" placeholder="PLACEHOLDER" ng-model="paymentCtrl.billAddrInfo.zip"/>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-4" >Country&nbsp;*</label>
					<div class="col-sm-8">
					    <select class="form-control" ng-model="paymentCtrl.billAddrInfo.country" required>
							  <option>United States</option>
							  <option>Pandora</option>
					   </select>
					</div>
				</div>
			</div>
		
			<div class="col-sm-1"> </div>
		
			<div class="form-group col-sm-5"> <!-- Provided Information -->
			    <table>
					<tr><th>Card Type:</th><td>{{paymentCtrl.paymentInfo.cardType}}</td></tr>
					<tr><th>Name on Card:</th><td>{{paymentCtrl.paymentInfo.nameOnCard}}</td></tr>
					<tr><th>Card Number:</th><td>{{paymentCtrl.paymentInfo.cardNumber}}</td></tr>
					<tr><th>Expiration Date:</th><td>{{paymentCtrl.paymentInfo.expireDate}}</td></tr>
					<tr><th>CVV:</th><td>{{paymentCtrl.paymentInfo.cvv}}</td></tr>
					<tr><th></th><td></td></tr>
					<tr><th>Address 1:</th><td>{{paymentCtrl.custAddrInfo.address1}}</td></tr>
					<tr><th>Address 2:</th><td>{{paymentCtrl.custAddrInfo.address2}}</td></tr>
					<tr><th>City:</th><td>{{paymentCtrl.custAddrInfo.city}}</td></tr>
					<tr><th>State:</th><td>{{paymentCtrl.custAddrInfo.state}}</td></tr>
					<tr><th>Zip:</th><td>{{paymentCtrl.custAddrInfo.zip}}</td></tr>
					<tr><th>Country:</th><td>{{paymentCtrl.custAddrInfo.country}}</td></tr>
			    </table>
		    </div>
			
		</div>
</form>

<div class="col-sm-12 col-md-12"> <!-- Pay Button -->
	<div class="col-sm-4 col-md-4"> </div>
		<div class="col-sm-4 col-md-4"> 
			<input class="form-control" type="submit" value="Pay"/> <br>
		</div>
	<div class="col-sm-4 col-md-4"> </div>
</div>