<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>NM Air</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/fonts/airstream_regular_macroman/stylesheet.css">
	<link rel="stylesheet" href="/static/css/ticketing.css">
  <style>
    h1 { font-family: 'airstreamregular',Serif; font-size: 64pt; }; 
    .well { font-family: Serif; };
  </style>
</head>

<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>

<body>

	<div class="jumbotron">
		<h1>NM Air</h1>
		<button class="btn btn-danger pull-right" ng-click="remove(selected.idx)">
			<i class="fa"></i> Sign-in with Google+
		</button>
	</div>

	<div ng-app="mytable" ng-controller="MainController2">
		<style>
			table, th , td  {
			  	border: 1px solid black;
			  	padding: 15px;
    			border-radius: 10px;
    			-moz-border-radius: 15px;
			}
			table tr:nth-child(odd)	{
			  background-color: #333333;
			  color: white;
			}
			table tr:nth-child(even) {
			  background-color: #0000ff;
			  color: white;
			}
		</style>

		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		</head>

		<body>
		<table class="table" style="background-color: #666666; border-radius: 0px">
		<thead>
		<tr style="background-color: orange">
			<th style="color:black">Ticket Summary</th> 
		</tr>
		</thead>
		</table>

		<table class="table" style="background-color: #666666; border-radius: 0px">
		<thead>
		<tr style="background-color: #666666">
			<th>First Name</th>
			<th>Last Name</th>
			<th>FlightID</th>
			<th><img src=".\images\depart_plane.png" alt="depart" height="24" width="24"> Depart City</th>
			<th><img src=".\images\arrive_plane.png" alt="arriving" height="24" width="24">Destination City</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.flightID}}</td>
			<th>{{row.sourceCity}}</th>
			<th>{{row.destinationCity}}</th>
		</tr>
		</tbody>
		</table>

	<img src="./images/qr_code.png" alt="QR" height="128" width="128">

	<button class="btn btn-primary pull-right" style="margin:15px" ng-click="add()">
			<i class="fa"></i> Print Ticket
		</button>

	<script>
</div>

<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	
	var mytable = new angular.module("mytable", ["ngResource"]);

	mytable.controller("MainController2", ["$scope", "$resource", function($scope, $resource){
		$scope.rowCollection = [
    		{firstName: 'Laurent', lastName: 'Renard', sourceCity: ' ', destinationCity: 102, flightID: 'whatever@gmail.com'},
    		{firstName: 'Laurent2', lastName: 'Renard', sourceCity: ' ', destinationCity: 102, flightID: 'whatever@gmail.com'},
		];});

	// new dependency: ngResource is included just above
	var myapp = new angular.module("myapp", ["ngResource"]);

	// inject the $resource dependency here
	myapp.controller("MainController", ["$scope", "$resource", function($scope, $resource){
		// I designed the backend to play nicely with angularjs so this is all the
		// setup we need to do all of the ususal operations.
		var Ticket = $resource("/tickets/:id", {id: '@id'}, {});

    $scope.showtooltip = false;
		$scope.selected = null;

    $scope.hideToolTip = function(){
      $scope.showtooltip = false;
    }

    $scope.toggleToolTip = function(e){
      e.stopPropagation();
      $scope.showtooltip = !$scope.showtooltip;
    }

		$scope.list = function(idx){
			// Notice calls to Ticket are often given callbacks.
			Ticket.query(function(data){
				$scope.tickets = data;
				if(idx != undefined) {
					$scope.selected = $scope.tickets[idx];
					$scope.selected.idx = idx;
				}
			}, function(error){
				alert(error.data);
			});
		};

		$scope.list();

		$scope.get = function(idx){
			// Passing parameters to Ticket calls will become arguments if
			// we haven't defined it as part of the path (we did with id)
			Ticket.get({id: $scope.tickets[idx].id}, function(data){
				$scope.selected = data;
				$scope.selected.idx = idx;
			});
		};

		$scope.add = function() {
			// I was lazy with the user input.
			var passenger = prompt("Enter the passenger's name.");
			if(passenger == null){
				return;
			}
			var flight = prompt("Enter the flight number.");
			if(flight == null){
				return;
			}
			// Creating a blank ticket object means you can still $save
			var newTicket = new Ticket();
			newTicket.passenger = passenger;
			newTicket.flight = flight;
			newTicket.$save();

			$scope.list();
		};

		$scope.update = function(idx) {
			var ticket = $scope.tickets[idx];
			var passenger = prompt("Enter a new passenger", ticket.passenger);
			if(passenger == null) {
				return;
			}

			var flight = prompt("Enter a new flight", ticket.flight);
			if(flight == null) {
				return;
			}
			ticket.passenger = passenger;
			ticket.flight = flight;
			// Noticed I never created a new Ticket()?
			ticket.$save();

			$scope.list(idx);
		};

		$scope.remove = function(idx){
			$scope.tickets[idx].$delete();
			$scope.selected = null;
			$scope.list();
		};
	}]);

</script>
</body>
</html>